{{ 'now'|date('H:i:s') }}
<hr>
<div class="row">
    <div class="col-sm-3">
        {{ car }}
    </div>

    <div class="col-sm-9">
        <nav>
            <a href="{{ path('car_detailed', {'id': car.id}) }}">Detailed</a>
            <a href="{{ path('car_reviews', {'id': car.id}) }}">Reviews</a>
        </nav>

        {% filter outlet %}

            <div class="card">
                <div class="card-header">
                    Description of {{ car }}
                </div>
                <div class="card-body">
                    {{ car.description }}
                </div>
            </div>

            <hr>
            <hr>
            <hr>
            Outlet of detailed:



        {% endfilter %}
    </div>
</div>

